In [11]:
import pandas as pd
import glob
import os

input_file = r'D:/Programming/Github/Bigdata/COVID-19/csse_covid_19_data/csse_covid_19_daily_reports' # csv파일들이 있는 디렉토리 위치
geo_file = r'./geo.csv'
output_file = r'./result.csv' # 병합하고 저장하려는 파일명
output_file_axis = r'./result_axis.csv'

allFile_list = glob.glob(os.path.join(input_file, '*.csv')) # glob함수로 sales_로 시작하는 파일들을 모은다



allData = [] # 읽어 들인 csv파일 내용을 저장할 빈 리스트를 하나 만든다


for file in allFile_list:
    df = pd.read_csv(file) # for구문으로 csv파일들을 읽어 들인다
    df['State']=df['Province/State'].fillna('')
    df2 = pd. read_csv(geo_file)
#     df['region']= df['Province/State'] + ', ' +df['Country/Region']
    df['region']= df[['State', 'Country/Region']].apply(lambda x: ''.join(x), axis=1)
    
#     df= df.drop(['Province/State','Country/Region'],1)
    df['filedate'] = os.path.basename(file) 
    df['Date']  = df['filedate'].str.replace(pat=r'.csv', repl= r' ', regex=True)
    df=pd.merge(df, df2, left_on='region',right_on='region2', how='left')
    
    
    allData.append(df) # 빈 리스트에 읽어 들인 내용을 추가한다
    

dataCombine = pd.concat(allData, axis=0, ignore_index=True) # concat함수를 이용해서 리스트의 내용을 병합
# axis=0은 수직으로 병합함. axis=1은 수평. ignore_index=True는 인데스 값이 기존 순서를 무시하고 순서대로 정렬되도록 한다.

dataCombine.drop(['filedate','Last Update'], axis='columns', inplace=True)
# dataCombine.drop(['filedate'], axis='columns', inplace=True)
# dataCombine.drop(['region2','Latitude','Longitude'], axis='columns', inplace=True)
dataCombine.to_csv(output_file, index=False) # to_csv함수로 저장한다. 인데스를 빼려면 False로 설정

In [12]:
dataCombine

,Province/State,Country/Region,Confirmed,Deaths,Recovered,State,region,Date,Unnamed: 0,Lat,Long,region2,Latitude,Longitude
0,Anhui,Mainland China,1.0,NaN,NaN,Anhui,AnhuiMainland China,01-22-2020,0.0,31.8257,117.2264,AnhuiMainland China,NaN,NaN
1,Beijing,Mainland China,14.0,NaN,NaN,Beijing,BeijingMainland China,01-22-2020,1.0,40.1824,116.4142,BeijingMainland China,NaN,NaN
2,Chongqing,Mainland China,6.0,NaN,NaN,Chongqing,ChongqingMainland China,01-22-2020,2.0,30.0572,107.8740,ChongqingMainland China,NaN,NaN
3,Fujian,Mainland China,1.0,NaN,NaN,Fujian,FujianMainland China,01-22-2020,3.0,26.0789,117.9874,FujianMainland China,NaN,NaN
4,Gansu,Mainland China,NaN,NaN,NaN,Gansu,GansuMainland China,01-22-2020,4.0,36.0611,103.8343,GansuMainland China,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4785,Northern Territory,Australia,0.0,0.0,0.0,Northern Territory,Northern TerritoryAustralia,03-09-2020,144.0,-12.4634,130.8456,Northern TerritoryAustralia,-12.4634,130.8456
4786,"Lackland, TX (From Diamond Princess)",US,0.0,0.0,0.0,"Lackland, TX (From Diamond Princess)","Lackland, TX (From Diamond Princess)US",03-09-2020,73.0,29.3829,-98.6134,"Lackland, TX (From Diamond Princess)US",29.3829,-98.6134
4787,"Montgomery County, TX",US,0.0,0.0,0.0,"Montgomery County, TX","Montgomery County, TXUS",03-09-2020,217.0,30.3213,-95.4778,"Montgomery County, TXUS",30.3213,-95.4778
4788,"Omaha, NE (From Diamond Princess)",US,0.0,0.0,0.0,"Omaha, NE (From Diamond Princess)","Omaha, NE (From Diamond Princess)US",03-09-2020,70.0,41.2545,-95.9758,"Omaha, NE (From Diamond Princess)US",41.2545,-95.9758
4789,"Travis, CA (From Diamond Princess)",US,0.0,0.0,0.0,"Travis, CA (From Diamond Princess)","Travis, CA (From Diamond Princess)US",03-09-2020,71.0,38.2721,-121.9399,"Travis, CA (From Diamond Princess)US",38.2721,-121.9399

In [9]:
# dataCombine2 = pd.concat(allData, axis=1, ignore_index=True) # concat함수를 이용해서 리스트의 내용을 병합
# # axis=0은 수직으로 병합함. axis=1은 수평. ignore_index=True는 인데스 값이 기존 순서를 무시하고 순서대로 정렬되도록 한다.

# dataCombine2.to_csv(output_file_axis, index=True) # to_csv함수로 저장한다. 인데스를 빼려면 False로 설정

In [19]:
output_file3 = r'C:\Users\MSI\Untitled Folder\Interactive-Choropleth-Map-Using-Python-master\bokeh-app\input\coronavirus-latlon-dataset/CV_LL_confirmed.csv'
dataconfirmed=pd.read_csv(output_file)
dataconfirmed2=pd.DataFrame(dataconfirmed, columns=['Province/State','Country/Region','Lat','Lon','Date','Confirmed','Last Update'])
dataconfirmed2['Country/Region'].replace({'Mainland China':'China'},inplace=True)
dataconfirmed2.head()

,Province/State,Country/Region,Lat,Lon,Date,Confirmed,Last Update
0,Anhui,China,31.8257,117.2264,01-22-2020,1.0,NaN
1,Beijing,China,40.1824,116.4142,01-22-2020,14.0,NaN
2,Chongqing,China,30.0572,107.8740,01-22-2020,6.0,NaN
3,Fujian,China,26.0789,117.9874,01-22-2020,1.0,NaN
4,Gansu,China,36.0611,103.8343,01-22-2020,NaN,NaN

In [20]:
dataconfirmed2.to_csv(output_file3, index=True)

In [21]:
output_file4 = r'C:\Users\MSI\Untitled Folder\Interactive-Choropleth-Map-Using-Python-master\bokeh-app\input\coronavirus-latlon-dataset/CV_LL_death.csv'
dataconfirmed=pd.read_csv(output_file)
dataDeaths=pd.DataFrame(dataconfirmed, columns=['Province/State','Country/Region','Lat','Lon','Date','Deaths'])
dataDeaths['Country/Region'].replace({'Mainland China':'China'},inplace=True)
dataDeaths.head()

  Province/State Country/Region      Lat       Lon         Date  Deaths
0          Anhui          China  31.8257  117.2264  01-22-2020      NaN
1        Beijing          China  40.1824  116.4142  01-22-2020      NaN
2      Chongqing          China  30.0572  107.8740  01-22-2020      NaN
3         Fujian          China  26.0789  117.9874  01-22-2020      NaN
4          Gansu          China  36.0611  103.8343  01-22-2020      NaN

In [22]:
dataDeaths.to_csv(output_file4, index=True)

In [23]:
output_file5 = r'C:\Users\MSI\Untitled Folder\Interactive-Choropleth-Map-Using-Python-master\bokeh-app\input\coronavirus-latlon-dataset/CV_LL_recovered.csv'
dataconfirmed=pd.read_csv(output_file)
dataRecovered=pd.DataFrame(dataconfirmed, columns=['Province/State','Country/Region','Lat','Lon','Date','Recovered'])
dataRecovered['Country/Region'].replace({'Mainland China':'China'},inplace=True)
dataRecovered.head()

  Province/State Country/Region      Lat       Lon         Date  Recovered
0          Anhui          China  31.8257  117.2264  01-22-2020         NaN
1        Beijing          China  40.1824  116.4142  01-22-2020         NaN
2      Chongqing          China  30.0572  107.8740  01-22-2020         NaN
3         Fujian          China  26.0789  117.9874  01-22-2020         NaN
4          Gansu          China  36.0611  103.8343  01-22-2020         NaN

In [24]:
dataRecovered.to_csv(output_file5, index=True)

In [ ]:
dataconfirmed4.dtypes

In [ ]:
test=pd.read_csv('C:/Users/MSI/Untitled Folder/Interactive-Choropleth-Map-Using-Python-master/bokeh-app/input/coronavirus-latlon-dataset/CV_LL_2Feb_recovered.csv')
test.dtypes